:root {
  --brown: #401c04;
  --black: #292A2D;
  --white: #f7f6f4;
  --gray:  #a3a5a8;
  --red:   #bc4505;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
}

body {
  font-family: "Scope One", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner {
  height: 100vh;
}

.banner h1 {
  font-size: 4vw;
  /* text-align: center; */
  width: 70vw;
}

.banner p {
  font-size: 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

