:root {
  --black: #111111;
  --white: #f7f6f4;
  --gray: #292a2d;
  --gray2: #1f2227;
  --accent: #e31b6d;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
}

body {
  font-family: "Scope One", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--accent);
}

.banner {
  height: 100vh;
}

.banner h1 {
  font-size: 4vw;
  width: 70vw;
}

.banner p {
  font-size: 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  font-size: 60px;
  letter-spacing: 6px;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a:hover {
  color: #fff;
}

.social-media-list {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.3rem;
  line-height: 65px;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

.fa-arrow-left {
  position: absolute;
  left: 25%;
  top: 50px;
  font-size: 35px;
}

/* Code for project page which is temporarily hidden*/
/* .project { */
/*   display: flex; */
/*   margin-top: 40px; */
/*   width: 1170px; */
/*  */
/*   border: 1px solid #ccc; */
/*   border-radius: 15px; */
/*  */
/* } */
/*  */
/* .thumbnail { */
/*   padding-right: 20px; */
/* } */
/*  */
/* img { */
/*   border-radius: 10%; */
/* } */
/*  */
/* .header { */
/*   display: flex; */
/*   align-items: center; */
/* } */
/*  */
/* .header a { */
/*   padding-right: 30px; */
/*   font-size: 30px; */
/*   margin-top: 28px; */
/* } */
/*  */
/* .header h1 { */
/*   font-size: 50px; */
/*   margin-bottom: 0; */
/* } */
